<p class="lead">Product Management</p>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  
  <%- @products.each do |p| %>
    <tr>
      <td> <%=p.title %> </td>
        <td>
          <%=link_to("Edit Product", edit_product_path(p), class: "btn btn-default")  %>
          <%=link_to("Delete Product", product_path(p), method: :delete, class: "btn btn-default")  %>
        </td>
    </tr>
  <% end %>
</table>

<%=link_to("New Product", new_product_path, class: "btn btn-default")%>

<br>
<br>

<p class="lead">Category Management</p>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  
  <%- @categories.each do |cat| %>
    <tr>
      <td> <%=cat.title %> </td>
      <td>
        <%=link_to("Edit Category", edit_category_path(cat), class: "btn btn-default") %>
        <%=link_to("View Products", products_path(search_no_subcats: cat.id), class: "btn btn-default") %>
        <%=link_to("Delete Category", category_path(cat), method: :delete, class: "btn btn-default") %>
      </td>
    </tr>
  <% end %>
</table>

<%=link_to("New Category", new_category_path, class: "btn btn-default")%>