<%- @products.each do |product| %>
  <%=cache(@product) do%>
    <h1><%= truncate(product.title, length: 40) %></h1>
    <%- product.pictures.each do |p| %>
      <%= image_tag p.image.thumb.url %>
    <% end %>
    <br>
    <%= truncate(product.description, length: 50) %>
    <br>
    <%= link_to 'View Product', product_path(product), class: "btn btn-success"%>
    <%=link_to("Add to Cart", cart_add_path(product_id: product.id), method: :post, class: "btn btn-warning") %>
    <p></p>
    <hr>
  <% end %>
<% end %>