<%=form_for :order, url: url, method: method do |f| %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br>
    <%= f.text_field :shipping_address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :sum, "The total sum of the order: " %><br>
    <%= @value%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
