<div>
  <%= form_for :category, url: url, method: method, html: { class: "form-group"} do |f| %>

    <div class="form-group">
      <%= f.label :slug, "Category URL" %><br>
      <%= f.text_field :slug, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title, "Category title" %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :parent_category_id, "Parent category" %><br>
      <%= f.collection_select :parent_category_id, Category.all, :id, :title, include_blank: "No parent (make it root category)",  class: "form-control" %>
    </div>    
   
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default"%>
      <%= link_to 'Back', admin_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>