<div>
  <%= form_for :product, url: url, method: method, html: { class: "form-group"} do |f| %>

    <div class="form-group">
      <%= f.label :slug, "URL of the product page" %><br>
      <%= f.text_field :slug, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, "Product category" %><br>
      <%= f.collection_select :category_id, Category.all, :id, :title, include_blank: "Uncategorized", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", cols: 40, rows: 30 %>
    </div>

    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :stock %><br>
      <%= f.text_field :stock, class: "form-control" %>
    </div>

    <%- if method == :post %>
    <div>
      <%= f.fields_for :pictures do |p| %>
        <div class="field">
          <%= p.label :image %><br>
          <%= p.file_field :image %>
        </div>
     <% end %>
    </div>
    <%- else %>
      <div>
        <%- @product.pictures.each do |p| %>
          <%= image_tag p.image.url %>
          <br>
        <% end %>
      </div>
    <% end %>

   
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default"%>
      <%= link_to 'Back', products_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>