<div>
  <%= form_for :product, url: url, method: method, html: { class: "form-group"} do |f| %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", cols: 40, rows: 30 %>
    </div>

    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :stock %><br>
      <%= f.text_field :stock, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default"%>
      <%= link_to 'Back', products_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>