<%- @product_listing.each do |product| %>
  <%=cache(@product) do%>
    <h1><%= truncate(product.title, length: 40) %></h1>
    <%= truncate(product.description, length: 50) %>
    <%= link_to 'Read more', product_path(product)%>
    <p></p>
    <hr>
  <% end %>
<% end %>

<%- @categories.each do |cat| %>
  <%= cat.title %>
  <br>
    <%-if cat.subcategories %>
      <%- cat.subcategories.each do |s| %>
        <%= "THIS CATEGORY HAS THE FOLLOWING SUBCATEGORIES #{s.title}" %>
      <% end %>
    <% end %>
  <br>
<% end %>