<%- if @product.pictures.any? %>
	<div class="col-md-6">
	  <div class="row">
		<%- @product.pictures.each do |p| %>
		  <%= image_tag p.image.fullscale.url %>
		<% end %>
	  </div>
	</div>
<% end %>


<div class="col-md-6">
  <div class="row">
	<h1> <%=@product.title%> </h1>
		
	<div class="well">
	  <%= @product.description %>
	</div>

	<div >
	  <%= "The price of the item: #{@product.price} "%>
	</div>

	<div>
	  <%=link_to("Add to Cart", cart_add_path(product_id: @product.id), method: :post, class: "btn btn-success") %>
	</div>

  </div>
</div>



